[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "*"
netifaces = "*"
pyomxplayer = {editable = true, ref = "2731b97b88ef9659598b76eb23507980a90b96c5", git = "https://github.com/cjltsod/pyomxplayer.git"}
waitress = "*"
pexpect = "*"

[dev-packages]

[requires]
python_version = "3.9"
